{% load static %}
{% load user_group_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> TEST </title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>